* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font: 14px 'Roboto', sans-serif;
}

ul {
	list-style: none;
}

.container {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	width: 100%;
	height: 100%;
}

aside {
	-webkit-box-flex: 0 150px;
	-webkit-flex: 0 150px;
	-ms-flex: 0 150px;
	flex: 0 150px;
	width: 150px;
	height: 100%;
	margin-left: -150px;
	color: #9E9E9E;
	background-color: #000;
	transition: margin-left 0.3s;
}

.switch {
	margin-left: 0;
}

.drawer-name {
	padding: 20px;
	text-align: center;
	font-size: 15px;
	font-weight: normal;
}

.search {
	display: flex;
}

.search-val {
	-webkit-box-flex: 1 105px;
	-webkit-flex: 1 105px;
	-ms-flex: 1 105px;
	flex: 1 105px;
	width: 105px;
	height: 30px;
	text-indent: 0.5em;
}

.search-btn {
	flex: 1 45px;
	border: none;
	color: #fff;
	background-color: #4D7DB5;
	outline: none;
	cursor: pointer;
}

.location-item {
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.location-item:hover {
	color: #fff;
	background-color: #616161;
}

main {
	flex: 1;
	width: 100%;
	height: 100%;
}

nav {
	width: 100%;
	height: 50px;
	padding-left: 20px;
	line-height: 50px;
	color: #fff;
	background-color: #212121;
}

#nav-btn {
	cursor: pointer;
}

.logo {
	display: inline-block;
	margin-left: 10px;
	font-size: 12px;
	font-weight: normal;
}

.map {
	height: calc(100% - 50px);
}

@media screen and (min-width: 425px) {
	aside {
		flex: 0 200px;
		width: 200px;
		margin-left: -200px;
	}

	.search-val {
		text-indent: 1em;
	}

	.logo {
		font-size: 16px;
	}
}

@media screen and (min-width: 1024px) {
	aside {
		flex: 0 250px;
		width: 250px;
		margin-left: -250px;
	}

}